#login-image-side {
  background: url("../assets/img/login.png");
  background-size: cover;
  background-position: center;
}

#login-form form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}

#login-form h3 {
  text-align: center;
}

#login-form p {
  text-align: center;
  margin: 20px 0 0 0;
}

#submit-button {
  margin: 50px 0 0 0;
}
